{% include 'header.html' %}
<head><title>Create an account</title></head>
{% load static %}
<link rel="stylesheet" href="{% static 'style2.css' %}">

<div class="container container">
  <form action="" method="POST" class="form-signin">
    {% csrf_token %}
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Create a teacher account</h1>
      <p>TestSeries allows you to:<br/> 
        <code>:Create test papers:</code> (for teachers)<br/>
         and make your students practice as much as you want!</p>
    </div>

      {% for message in messages %}
      <div class="alert alert-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg> {{message}}</div>
      {% endfor %}

      <div class="form-label-group">
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputEmail">Email</label>
      </div>

      <div class="form-label-group">
        <input name="password1" type="password" id="inputPassword1" class="form-control" placeholder="Password" required>
        <label for="inputPassword1">Password</label>
      </div>

      <div class="form-label-group">
        <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
        <label for="inputPassword2">Confirm Password</label>
      </div>

      <div class="form-label-group">
        <input name="role" value="Teacher" type="role" id="inputrole" class="form-control" placeholder="Account" readonly>
        <small>(If you want to create student account, click <a href="{% url 'registerstudent' %}">here</a>)</small>
        <label for="inputrole">Account Type</label>
      </div>

      
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" required> I agree to the <a href="../terms">terms and conditions</a>.
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create my teacher account</button>
      <p class="mt-5 mb-3 text-muted text-center">Already have an account? Login <a href="{% url "login" %}">here</a>.<br/>
        &#x2022;<br/>
        Convert teacher account into student account <a href="../accounts/convert">here</a>.<br/>&#x2022;
        <br/>We respect your privacy. We do not deal with any third parties.</p>
    </form>    

</div>
{% include 'footer.html' %}