{% extends "base.html" %}

{% block content %}

<h2 align="center">Online Test Series Details</h2>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
        
      <tr>
        <th scope="col">Particulars</th>
        <th scope="col">Details</th>
        
      </tr>
    </thead>
    {% for testseries in ts %}
    <tbody>
      <tr>
        <td scope="row">Test Series Name</td>
        <td scope="row"><b>{{testseries.name}}</b></td>
      </tr>
      <tr>
        <td scope="row">Test Series Code</td>
        <td scope="row">{{testseries.code}}</td>
      </tr>
      <tr>
        <td scope="row">Fees <small>(inclusive of GST)</small></td>
        <td scope="row">₹ <s>{{testseries.fees}}</s> 0.00 [Free till 30th November, 2024]</td>
      </tr>
      <tr>
        <td scope="row">Validity</td>
        <td scope="row">From <b>{{testseries.start_date}}</b> upto Exam Date</b></td>
      </tr>
      <tr>
        <td scope="row">Details</td>
        <td scope="row">{{testseries.description}}</td>
      </tr>
      </tbody> 
  </table>
{% endfor %}
<h2 align="center">Online Test Dates and Syllabus</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Test No.</th>
      <th scope="col">Test Code</th>
      <th scope="col">Syllabus</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for testdata in test %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{testdata.code}}</td>
      <td>{{testdata.syllabus}}</td>
      <td>
        <a href="{% url 'take_test' testdata.code %}" class="test-link">Attempt Now</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% comment %} <form method="post" action="">
  {% csrf_token %}
  <button align="center" type="submit" name="purchase">Purchase</button>
</form> {% endcomment %}
</div>
{% endblock content %}