{% extends 'base.html' %}

{% block title %}Add Question{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/style2.css">

<div class="container">
    <h2 align="center" class="card-title">Add Question</h2>

    <div class="container container">
        <form method="POST" id="addQuestionForm" class="form-signin" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
    
            <div class="form-group">
                <label for="question_type"></label>
                <select id="question_type" name="question_type" class="form-control" required>
                    <option value="" disabled selected>Select Question type</option>
                    <option value="theory">Theory</option>
                    <option value="mcq">MCQ</option>
                    <option value="assertion_reason">Assertion and Reason</option>
                    <option value="competency_case">Competency/Case Based</option>
                </select>
            </div>

            <div class="form-group">
                <label for="module"></label>
                <select id="module" name="module" class="form-control" required>
                    <option value="" disabled selected>Select Module</option>
                    {% for module in modules %}
                        <option value="{{ module.id }}">{{ module.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="class"></label>
                <select id="class" name="class" class="form-control" required onchange="updateSubjects()">
                    <option value="" disabled selected>Select Class</option>
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject"></label>
                <select id="subject" name="subject" class="form-control" required>
                    <option value="" disabled selected>Select Subject</option>
                </select>
            </div>

            <div class="form-group">
                <label for="textbook"></label>
                <select id="textbook" name="textbook" class="form-control" required>
                    <option value="" disabled selected>Select Textbook</option>
                </select>
            </div>

            <div class="form-group">
                <label for="chapter"></label>
                <select id="chapter" name="chapter" class="form-control" required>
                    <option value="" disabled selected>Select Chapter</option>
                </select>
            </div>
            <div class="form-label-group">
                <label for="question"></label>
                <textarea id="question" name="question" class="form-control" rows="3" placeholder="Question text" required></textarea>
            </div>

            <div class="custom-file">
                <input name="question_diagram_or_illustration" type="file" class="custom-file-input" id="questionFile">
                <label class="custom-file-label" for="questionFile">Diagram for Question (Optional)</label>
            </div>

            <div class="form-label-group">
                <label for="solution"></label>
                <textarea id="solution" name="solution" class="form-control" rows="3" placeholder="Solution text" required></textarea>
            </div>
            
            <div class="custom-file">
                <input name="solution_diagram_or_illustration" type="file" class="custom-file-input" id="solutionFile">
                <label class="custom-file-label" for="solutionFile">Diagram for Solution (Optional)</label>
            </div>
            
            <div class="form-group">
                <label for="max_marks">Maximum Marks</label>
                <input type="number" id="max_marks" name="max_marks" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="pyq">PYQ</label>
                <input type="number" id="pyq" name="pyq" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Question</button>
        </form>
        {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        let isSubmitting = false;

        $('#class').change(function() {
            var classId = $(this).val();
            if(classId) {
                $.ajax({
                    url: '/test_generator/load_subjects/',
                    type: 'GET',
                    data: {'class_id': classId},
                    success: function(data) {
                        $('#subject').empty();
                        $('#subject').append('<option value="" disabled selected>Select Subject</option>');
                        $.each(data, function(key, value) {
                            $('#subject').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                        $('#textbook').empty();
                        $('#textbook').append('<option value="" disabled selected>Select Textbook</option>');
                        $('#chapter').empty();
                        $('#chapter').append('<option value="" disabled selected>Select Chapter</option>');
                    }
                });
            } else {
                $('#subject').empty();
                $('#subject').append('<option value="" disabled selected>Select Subject</option>');
                $('#textbook').empty();
                $('#textbook').append('<option value="" disabled selected>Select Textbook</option>');
                $('#chapter').empty();
                $('#chapter').append('<option value="" disabled selected>Select Chapter</option>');
            }
        });

        $('#subject').change(function() {
            var subjectId = $(this).val();
            if(subjectId) {
                $.ajax({
                    url: '/test_generator/load_textbooks/',
                    type: 'GET',
                    data: {'subject_id': subjectId},
                    success: function(data) {
                        $('#textbook').empty();
                        $('#textbook').append('<option value="" disabled selected>Select Textbook</option>');
                        $.each(data, function(key, value) {
                            $('#textbook').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                        $('#chapter').empty();
                        $('#chapter').append('<option value="" disabled selected>Select Chapter</option>');
                    }
                });
            } else {
                $('#textbook').empty();
                $('#textbook').append('<option value="" disabled selected>Select Textbook</option>');
                $('#chapter').empty();
                $('#chapter').append('<option value="" disabled selected>Select Chapter</option>');
            }
        });

        $('#textbook').change(function() {
            var textbookId = $(this).val();
            if (textbookId) {
                $.ajax({
                    url: '/test_generator/load_chapters/',
                    data: {
                        'textbook_id': textbookId
                    },
                    success: function(data) {
                        $('#chapter').empty();
                        $('#chapter').append('<option value="" disabled selected>Select Chapter</option>');
                        $.each(data, function(key, value) {
                            $('#chapter').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            } else {
                $('#chapter').empty();
                $('#chapter').append('<option value="" disabled selected>Select Chapter</option>');
            }
        });

        $('#addQuestionForm').submit(function(e) {
            e.preventDefault();  // Prevent default form submission
            if (isSubmitting) return;  // Prevent multiple submissions
            isSubmitting = true;

            var formData = new FormData(this);  // Use FormData to include file uploads
            $.ajax({
                type: 'POST',
                url: '/test_generator/add_question/',
                data: formData,
                contentType: false,  // Required for FormData
                processData: false,  // Required for FormData
                success: function(response) {
                    alert('Question added successfully!');
                    $('#addQuestionForm')[0].reset();
                    isSubmitting = false;
                },
                error: function(error) {
                    alert('Failed to add question. Please try again.');
                    isSubmitting = false;
                }
            });
        });
    });
</script>
{% endblock %}
