{% extends 'base.html' %}

{% block title %}Chapter Selection{% endblock %}

{% block content %}
<h1 class="text-center my-4">Select Chapter</h1>
<div class="container list-group">
    <form method="POST" action="{% url 'test_generator:question_selection' %}" id="chapter-form">
        {% csrf_token %}
        {% for textbook in textbooks %}
        <div class="container list-group-item">

            <h4 align="center"> Textbook: {{ textbook.name }}</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Chapter/s <small>(You can select more than one Chapter)</small></th>
                </tr>
            </thead>
            <tbody>
                {% for chapter in textbook.chapter_set.all %}
                <tr>
                    <td scope="row"><input type="checkbox" name="chapter_ids" value="{{ chapter.id }}" id="{{chapter.id}}"></td>
                    <td scope="row"><label class="form-check-label" for="{{chapter.id}}"><h6>{{ chapter.name }} </h6></label></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        {% endfor %}    
<br/>
        <button class="btn btn-primary" type="submit">Next</button>
    </form>
    

</div>
{% endblock %}
