{% extends 'base.html' %}

{% block title %}Create Test{% endblock %}

{% block content %}
<h1 class="text-center my-4">Create Test</h1>
<form method="post" action="{% url 'test_generator:create_test' %}">
    {% csrf_token %}
    <div class="container form-group">
        <label for="test_name">Test Name</label>
        <input type="text" class="form-control" id="test_name" name="test_name" placeholder="Enter test name">
    </div>
    <div class="container form-check">
        <input class="form-check-input" type="checkbox" name="is_online" id="is_online">
        <label class="form-check-label" for="is_online">Online Test</label>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Create Test</button>
</form>
{% endblock %}
