{% extends 'base.html' %}

{% block title %}Question Selection{% endblock %}

{% block content %}
<h1 class="text-center my-4">Select Questions for {{ chapter.name }}</h1>
<form class="container" method="post" action="{% url 'test_generator:create_test' %}">
    {% csrf_token %}
    <input type="hidden" name="chapter_id" value="{{ chapter.id }}">
    <div class="container list-group">
        {% for question in questions %}
            <div class="list-group-items">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="questions" value="{{ question.id }}" id="question_{{ question.id }}">
                        <label class="form-check-label" for="question_{{ question.id }}"><h5>{{forloop.counter}}. {{ question.question_text }} [ {{ question.max_marks }} ]</h5></label>
                    </div>
            </div>
        {% endfor %}
    </div>
    <div class="container form-group mt-4">
        <label for="test_name">Test Name</label>
        <input type="text" class="form-control" id="test_name" name="test_name" placeholder="Enter test name">
    </div>
    <div class="container form-check">
        <input class="form-check-input" type="checkbox" name="is_online" id="is_online">
        <label class="form-check-label" for="is_online">Online Test</label>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Create Test</button>
</form>
{% endblock %}
