<!-- templates/test_generator/solutions_pdf.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ test.name }} - Solutions</title>
    <style>
        body {
            font-family: DejaVu Sans, sans-serif;
            font-size: 14px; 
        }
    </style>
</head>
<body>
    <h1>{{ test.name }} - Solutions</h1>
    
    {% comment %} <table class="table table-bordered">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            {% for test_question in test_questions %}
            <tr>
                <td scope="row"><b>{{forloop.counter}}.</b> {{ test_question.question.solution }}</td>
                <td scope="row" align="right">[{{ test_question.question.max_marks }}]</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     {% endcomment %}
    
    
    
    <ol>
        {% for test_question in test_questions %}
            <li>
                <p>{{forloop.counter}}. {{ test_question.question.question_text }} [ {{ test_question.question.max_marks }} ]</p>
                <p><strong>Solution:</strong> {{ test_question.question.solution }}</p>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
