<!-- templates/test_generator/test_pdf.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ test.name }} - Test</title>
    <style>
        body { 
            font-family: DejaVu Sans, sans-serif; 
            font-size: 14px; 
        }
    </style>
</head>
<body>
    <h1>{{ test.name }} - Test</h1>
    <ol>
        {% for test_question in test_questions %}
            <li>{{ test_question.question.question_text }} [ {{ test_question.question.max_marks }} ]</li>
        {% endfor %}
    </ol>
</body>
</html>
